@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

*,
*::after
*::before {
  box-sizing: border-box;
}
:root {
  /* Colors */
  --color-primary: #FFFFFF;
  --color-header: #202329;
  --color-card-background: #3C3E44;
  --color-card-text-primary: #F5F5F5;
  --color-card-text-secondary: #9E9E9E;
  --color-background: #24282F;
  --color-footer: #202329;

  /* Font */
  --font-family-headline: 'Roboto Mono', monosoace;
  --font-family-text: 'Roboto', sans-serif;

  /* Borders */
  --border-radius: 1rem;
}
body {
  font-family: var(--font-family-text);
  margin: 0;
  background-color: var(--color-background);
  padding-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-headline);
}

header {
  background-color: var(--color-primary);
  text-align: center;
  padding: 8rem;
  color: var(--color-header);
  font-size: 2rem;
}
main {
  height: 50vh;
  width: 100vw;
  text-align: center;
  padding-top: 15rem;
  font-size: 4rem;
}
footer {
  background-color: var(--color-footer);
  text-align: center;
  height: 20vh;
  padding-top: 10rem;
}